<article class="recipe-detail">
  <img src="{{image}}" alt="{{title}}" />
  <h2>{{title}}</h2>
  <p>{{description}}</p>

  <h3>-----------------------------------------------------</h3>

  <h3>Ingredients:</h3>
  <p>{{ingredients}}</p>

  <h3>-----------------------------------------------------</h3>

  <h3>Instructions:</h3>
  <p>{{instructions}}</p>

  <h3>-----------------------------------------------------</h3>

  <h3>People Who Recommend: {{recommendList.length}}</h3>
</article>
{{#if isAuthenticated}}
  <div class="command">
    {{#if isOwner}}
      <a href="/recipes/edit/{{_id}}">Edit</a>
      <a href="/recipes/delete/{{_id}}">Delete</a>
    {{else}}
      {{#if isRecommended}}
        <p>You've already recommended this recipe!</p>
      {{else}}
        <a href="/recipes/recommend/{{_id}}">Recommend</a>
      {{/if}}
    {{/if}}
  </div>
{{/if}}